<ul class="sidebar-menu">
<li class="header">MENÚ TALLERES</li>
<li class="active treeview">
  <a routerLink="/">
    <i class="fa fa-dashboard"></i> <span>Inicio</span>
  </a>
</li>
<li class="treeview">
  	<a href="#">
    	<i class="fa fa-th"></i>
    	<span>Taller 1</span>
    	<span class="pull-right-container">
        	<i class="fa fa-angle-left pull-right"></i>
        </span>
  	</a>
  	<ul class="treeview-menu">
    	<li><a routerLink="/taller-uno"><i class="fa fa-circle-o"></i> Resultados</a></li>
    	<li><a routerLink="/create-user"><i class="fa fa-circle-o"></i> Crear usuario</a></li>
      <li><a routerLink="/create-book"><i class="fa fa-circle-o"></i> Crear libro</a></li>
    	<li><a routerLink="/rating-books"><i class="fa fa-circle-o"></i> Calificar libro</a></li>
 	</ul>
</li>
<li>
  <a href="">
    <i class="fa fa-th"></i> <span>Taller 2</span>
    <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
  </a>
  <ul class="treeview-menu">
      <li><a routerLink="/taller-dos"><i class="fa fa-circle-o"></i> Resultados</a></li>
      <li><a routerLink="/create-user-two"><i class="fa fa-circle-o"></i> Crear usuario</a></li>
      <li><a routerLink="/create-place"><i class="fa fa-circle-o"></i> Crear negocio</a></li>
      <li><a routerLink="/rating-place"><i class="fa fa-circle-o"></i> Calificar negocio</a></li>
  </ul>
</li>
<li>
  <a href="">
    <i class="fa fa-th"></i> <span>Taller 3</span>
  </a>
</li>
</ul>