<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Crear
    <small>Usuario</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="#">Taller Dos</a></li>
    <li class="active">Crear usuario</li>
  </ol>
</section>
<section class="content">
    <div class="row">
    	<!-- left column -->
	    <div class="col-md-6">
	    	<div class="box box-primary">
	    		<div class="box-header with-border">
	              <h3 class="box-title">Nuevo Usuario</h3>
	            </div>
	            <!-- /.box-header -->
	            
	    	</div>
	    </div>
    </div>
</section>
