<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Rating
    <small>Libros</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a href="#">Taller Uno</a></li>
    <li class="active">Rating libros</li>
  </ol>
</section>

<section class="content">
    <div class="row">
	    <!-- left column -->
	    <div class="col-md-6">
	    	<div class="box box-primary">
	            <div class="box-header with-border">
	              <h3 class="box-title">Buscar Libro</h3>
	            </div>
	            <form role="form">
	              <div class="box-body">
	              	<div class="input-group input-group-sm">
		                <input type="text" class="form-control" [(ngModel)]="book.book_title" placeholder="Por Nombre o ISBN" name="book_title" #book_title="ngModel">
		                <span class="input-group-btn">
		                    <button type="button" class="btn btn-info btn-flat" (click)="searchBook()">Buscar</button>
		                </span>
		            </div>
		            <br>
		            <div class="input-group input-group-sm">
		                <input type="text" class="form-control" [(ngModel)]="book.book_id" placeholder="Por ID" name="book_title" #book_title="ngModel">
		                <span class="input-group-btn">
		                    <button type="button" class="btn btn-info btn-flat" (click)="searchBookID()">Buscar</button>
		                </span>
		            </div>
		            <div class="form-group">
	                  <label for="user_id">Usuario</label>
	                  <input type="email" class="form-control" id="user_id" placeholder="Ingrese usuario" [(ngModel)]="user.user_id" name="user_id" #user_id="ngModel">
	                </div>
	              </div>
	            </form>
	        </div>
	    </div>
    </div>

    <div class="row">
	    <!-- left column -->
	    <div class="col-lg-12">
	    	<div class="box box-primary">
	            <div class="box-header with-border">
	              <h3 class="box-title">Resultado</h3>
	            </div>

	            <div class="box-body">
	            	<div class="row">
		            	<div class="col-md-3" *ngFor="let book of books; let i=index">
				          <div class="box box-primary box-solid">
				            <div class="box-header with-border">
				              <h3 class="box-title">{{book.book_title}}</h3>

				              <div class="box-tools pull-right">
				                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				              </div>
				              <!-- /.box-tools -->
				            </div>
				            <!-- /.box-header -->
				            <div class="box-body">
				            	<div class="row" style="text-align: center">
				            		<img width="200" [src]="book.image_url_l" />	
				            	</div>
				            	
				              <p>{{book.book_author}}</p>
				              <p>{{book.year_of_publication}}</p>
				              <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
				              <div class="box-footer">
				                <button class="btn btn-primary" (click)="addRating(book)">Calificar</button>
				              </div>
				            </div>
				            <!-- /.box-body -->
				          </div>
				          <!-- /.box -->
				        </div>
				        <!-- /.col -->
		            </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>